@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

html,
body {
  background-color: #f3f7ee;
  color: #323f28;
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
  }
}

@theme {
  --color-tom-thumb-50:  #f3f7ee;
  --color-tom-thumb-100: #e4ecdb;
  --color-tom-thumb-200: #ccdcba;
  --color-tom-thumb-400: #8eae6d;
  --color-tom-thumb-600: #56733d;
  --color-tom-thumb-700: #485f35;
  --color-tom-thumb-800: #38482c;
  --color-tom-thumb-900: #323f28;
  --color-tom-thumb-950: #182112;
}
